body{

}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}
body {
	background-color: cornsilk;
}
.board {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;

	height: 642px;
	width: 642px;

	border: 1px solid #c0c0c0;
}
.list {
	list-style: none;
	font-size: 0;
	padding: 0;
}
.list li {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.list li:nth-child(odd) {
	background-color: black;
}
.list li:nth-child(even) {
	background-color: #ffffff;
}
.list li:nth-child(2n+9) {
	background-color: #ffffff;
}
.list li:nth-child(2n+10) {
	background-color: black;
}
.list li:nth-child(2n+18) {
	background-color: #ffffff;
}
.list li:nth-child(2n+17) {
	background-color: black;
}
.list li:nth-child(2n+25) {
	background-color: #ffffff;
}
.list li:nth-child(2n+26) {
	background-color: black;
}
.list li:nth-child(2n+34) {
	background-color: #ffffff;
}
.list li:nth-child(2n+33) {
	background-color: black;
}
.list li:nth-child(2n+41) {
	background-color: #ffffff;
}
.list li:nth-child(2n+42) {
	background-color: black;
}
.list li:nth-child(2n+50) {
	background-color: #ffffff;
}
.list li:nth-child(2n+49) {
	background-color: black;
}
.list li:nth-child(2n+57) {
	background-color: #ffffff;
}
.list li:nth-child(2n+58) {
	background-color: black;
}